
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.components {
    border: 1px solid #736f6f;
    margin: 1;
    background-color: rgba(36, 28, 21, 1);

}

/*navbar*/

.navbar a {
    color: rgba(255, 255, 255, 1);
  }
  
  .navbar {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
  }
  
  .phone-emoji {
    padding-right: 10px;
  }
  
  .mail-emoji {
    padding-right: 10px;
  }
  
  .line {
    height: 2rem;
  }

/*text style*/

h2 {
    overflow: hidden;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-size: 40px;
    font-family: Montserrat; 
}

.book h1 {
    font-size: 28px;
    padding: 10px;
    color: rgba(36, 28, 21, 1);
    font-family: Montserrat;
}

.rooms .text {
    padding: 30px;
    color: rgba(36, 28, 21, 1);
}

.rooms p {
    margin: 20px 0;
    opacity: 0.7;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(36, 28, 21, 1);
}

.rooms h3 {
    font-family: Montserrat;
}

.rooms h4 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: rgba(36, 28, 21, 1);
    display: flex;
    align-items: end;
    justify-content: right;
}

.rooms h4 span {
    font-size: 15px;
    font-weight: 400;
    color: rgba(172, 143, 0, 1);
}

.rooms{
  background-color: rgba(255, 238, 216, 1);
  padding: 20px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  margin: 4rem;
  max-width: 500px;
}

/*book form buttons*/
.book {
    background-color: rgba(255, 238, 216, 1);
    margin: 30px;
    padding: 30px;
    border-radius: 50px;
  }

.book h1 span {
    color: rgba(172, 143, 0, 1);
}

.book input {
    background-color: rgba(172, 143, 0, 1);
    padding: 20px;
    border-radius: 10px;
    font-family: Montserrat;
}

.book input:nth-last-child(1) {
    background: rgba(172, 143, 0, 1);
    color: rgba(255, 255, 255, 1);
    font-size: large;
}
h2:before,
h2:after {
  background-color: rgba(255, 255, 255, 1);
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h2:before {
  right: 0.5em;
  margin-left: -50%;
}

h2:after {
  left: 0.5em;
  margin-right: -50%;
}


input {
    outline: none;
    border: none;
}
/*book now button*/

.book-now {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    background-color: rgba(172, 143, 0, 1);
}

/*image*/

.image img {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 20px;
  }
