<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/components/components.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloock&display=swap" rel="stylesheet">
    <title>components</title>
</head>

<body class="components">
    <div class="grid-container">

        <nav class="navbar">

            <a href="Tel:031-456 982" style="text-decoration:none" onmouseover="style='text-decoration:underline'"
                onmouseout="style='text-decoration:none'"><img class="phone-emoji" src="/image/svg/phone.svg">031-456
                982</a>

            <img class="line" src="/image/svg/Line 1.svg" />
            <a href="Email:bonz.ai@gmail.com" style="text-decoration:none"
                onmouseover="style='text-decoration:underline'" onmouseout="style='text-decoration:none'"><img
                    class="mail-emoji" src="/image/svg/mail.svg">bonz.ai@gmail.com</a>

        </nav>



        <article class="book">

            <div class="book-text">
                <h1><span>Book</span> Your Rooms</h1>
            </div>

            <form class="grid">
                <input type="date" placeholder="Check-In">
                <input type="date" placeholder="Check-Out">
                <input type="number" placeholder="Adults">
                <input type="number" placeholder="Children">
                <input type="submit" value="Search">
            </form>
        </article>


        <div class="middle-line">
            <h2>Super Offerty</h2>
        </div>


        <div class="rooms">
            <div class="image">
                <img src="/image/photos/04-day.jpg">
                <img src="/image/photos/04-night.jpg">

            </div>
            <div class="text">
                <h3>Svit</h3>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical Latin literature from 45 BC</p>
                <button class="book-now">Book Now</button>
                <h4> 1600 SEK<span><br> /Night</span></h4>
            </div>
        </div>




        <div class="rooms">
            <div class="items">
                <div class="image">
                    <img src="/image/photos/03-day.jpg">
                    <img src="/image/photos/06-night.jpg">

                </div>
                <div class="text">
                    <h3>Double Room</h3>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                        piece of
                        classical Latin literature from 45 BC</p>

                    <button class="book-now">Book Now</button>
                    <h4> 1800 SEK<span><br> /Night</span></h4>
                </div>

            </div>
        </div>

        
    </div>

</body>


</html>